# Environments
backend/.venv
backend/.env

# IDEA
.idea
mediapipe_pose_landmark.png
/.vscode

# Python Cache
__pyacache__/
*.pyc

# Reference
pose_landmark

# Ignore all the files under backend/data/audio/*
backend/cache/audio/*

# Keep the .gitkeep
!backend/cache/audio/.gitkeep

# Ignore the rendering module
backend/scripts

# Ignore the videos used to test
backend/cache/raw_videos/*