# Environments
backend/.venv
backend/.env

# IDEA
.idea
mediapipe_pose_landmark.png

# Python Cache
__pyacache__/
*.pyc

# Reference
pose_landmark

# Ignore all the files under backend/data/audio/*
backend/data/audio/*

# Keep the .gitkeep
!backend/data/audio/.gitkeep